@import 'styles/theme';

.createlobby {
    &.container {
        margin-top: 2em;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &.form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        font-size: 1vw;
        border-radius: 0.75em;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;
        box-sizing: border-box;
        height: 60vh;
        border: 0.2em solid $accent;
    }

    &.info {
        position: absolute;
        top: 0;
        right: 0;
    }

    &.button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8em;
        height: 2em;
        background: $accent;
        border-radius: $borderRadius;
        font-size: 1.5em;
        color: $textColor;
    }
}

.logo {
    width: 300px;
    height: 300px;
}