@import 'styles/theme';

.error-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: $accent;
}

p {
    font-size: 2rem;
    color: #888;
    text-align: center;
    max-width: 80%;
}
