@import 'styles/theme';

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.preview {
    &.container {
        margin-top: 2em;
        min-height: 300px;
        @include center;
        flex-direction: column;
        justify-content: space-around;

    }

    &.label {
        color: $accent;
        margin-bottom: 10px;
        margin: 10px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 2rem;
    }

    &.descBox {

        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 1em;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 2em;
        border-radius: 0.75em;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;
        box-sizing: border-box;
        position: relative;
        width: 50em;
        height: 23em;
        margin-bottom: 2em;
        border: 0.2em solid $accent;
    }

    &.image {
        width: 24em;
        height: 13.5em;

        text-align: right;
        align-self: flex-end;
        position: absolute;
        top: 2em;
        right: 2em;
    }

    &.description {
        color: $accent;
        font-weight: bold;
        margin-right: 30em;
        display: inline-block;
        width: 40%;
    }

    &.button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8em;
        height: 2em;
        background: $accent;
        border-radius: $borderRadius;
        font-size: 1.5em;
        color: $textColor;
    }
}