@import 'styles/theme';

.lobby {
    &.container {
        margin-top: 2em;
        min-height: 300px;
        /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
        @include center;
        flex-direction: row;
        justify-content: space-around;

    }

    &.form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25vw;
        font-size: 1vw;
        border-radius: 0.75em;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;
        box-sizing: border-box;

        height: 60vh;

        border: 0.2em solid $accent;
    }

    &.team1 {
        border: 0.2em solid $accentTeamOne;
    }

    &.team2 {
        border: 0.2em solid $accentTeamTwo;
    }

    &.label {
        color: $accent;
        margin-bottom: 10px;
        margin: 10px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 2vw;
    }

    &.color-team1 {
        color: $accentTeamOne;
    }

    &.color-team2 {
        color: $accentTeamTwo;
    }

    &.image {
        width: 10vw;
    }

    &.button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15vw;
        height: 6vh;
        background: $accent;
        border-radius: $borderRadius;
        font-size: 2vw;
        color: $textColor;
    }

    &.user-list {
        list-style-type: none;
        margin-right: 3em;
    }



    &.div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
