@import 'styles/theme';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

.gameWon {
    &.maindiv {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        margin-top: 5em;
        justify-self: center;
    }

    &.twi {
        margin-top: 1em;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 81px;
        text-align: center;
        padding-left: 0.25em;
        color: $accent;
        align-self: center;
        display: flex;
    }

    &.winners {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.losers {
        display: flex;
        justify-content: flex-end;
        margin-right: 10em;
        margin-top: 2em;
    }
}