@import 'styles/theme';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.PlayersForNextGamePreview {
    &.PlayerContainer {
        color: red;
        font-family: 'Quicksand', sans-serif;
    }

    &.VersusLabel {
        width: 247px;
        height: 39px;
        left: 490px;
        top: 583px;

        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 81px;
        text-align: center;

        color: #458E6C;


    }
}
