@import 'styles/theme';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

.playersForNextGamePreview {

    &.container {
        margin-top: 2em;
        /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
        @include center;
        flex-direction: row;
    }

    &.versusLabel {
        font-weight: bold;
        font-size: 5em;
        text-align: center;
        color: $accent;
    }

    &.player-team1 {
        animation: slide-in-left 3s ease;
        margin-right: 4em;
        margin-bottom: 6em;
    }

    &.player-team2 {
        animation: slide-in-right 3s ease;
        margin-left: 4em;
        margin-top: 4em;
    }

    @keyframes slide-in-left {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    @keyframes slide-in-right {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }
}