@import 'styles/theme';

.tso {
    &.goal-label {
        font-size: 1.5em;
        color: $accent;
        font-weight: bold;
        margin-right: 1em;
    }

    &.maincontent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5em;
    }

    .barbox {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 80%;
        margin-bottom: 1em;

        .team1-bar,
        .team2-bar {
            height: 5em;
            border-radius: 0.75em;
            transition: width 0.5s ease-out;
            overflow: hidden;
            transform-origin: right;

            &.mounted {
                width: 0;
                animation: expand 4s ease-out forwards;
            }
        }

        .team1-bar {
            background-color: $accentTeamOne;
            width: #{Team1Pts};
        }

        .team2-bar {
            background-color: $accentTeamTwo;
            width: #{Team2Pts};
        }

        .team1 {
            color: $accentTeamOne;
            font-weight: bold;
            text-align: center;
            width: 10%;
            font-size: 1.5em;
        }

        .team2 {
            color: $accentTeamTwo;
            font-weight: bold;
            text-align: center;
            width: 10%;
            font-size: 1.5em;
        }
    }

    .line {
        height: 15em;
        width: 0.15em;
        flex-direction: row;
        background-color: $accent;
        margin-bottom: 1em;
    }
}

@keyframes expand {
    from {
        width: 0;
    }

    to {
        width: #{Team1Pts};
    }
}