@import 'styles/theme';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.GameHeader {
    &.Minigamelabel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2em;

        box-sizing: border-box;

        width: 12em;
        height: 3em;

        background: $accent;
        border-width: 2px 2px 0px 2px;
        border-style: solid;
        border-color: #000000;
        box-shadow: $dropShadow;
        border-radius: 20px 0px 0px 0px;
        color: $textColor;
        font-weight: bold;
        font-size: 2em;
    }

    &.Minigametitlebox {

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2em;

        box-sizing: border-box;

        width: 80em;
        height: 15em;
        /* Base Color */
        background: $accent;
        border: 2px solid #000000;
        box-shadow: $dropShadow;
        border-radius: 0px 0px 20px 0px;
        color: $textColor;
    }

    &.title {

        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 12em;
        line-height: 160px;
        text-align: center;

        color: #FBF7F4;


    }
}

/*

box-sizing: border-box;

position: absolute;
width: 184px;
height: 41px;
left: 98px;
top: 47px;

background: #53A57D;
border-width: 2px 2px 4px 2px;
border-style: solid;
border-color: #000000;
border-radius: 20px 0px 0px 0px;*/
