@import 'styles/theme';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.GameHeader {
    &.Minigamecontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Quicksand';
        box-sizing: border-box;

        width: 30%;
        height: 2em;
        background: $accent;
        border-width: 2px 2px 0px 2px;
        border-style: solid;
        border-color: #000000;
        box-shadow: $dropShadow;
        border-radius: 20px 0px 0px 0px;
        color: $textColor;
        font-weight: bold;
        font-size: 2em;
    }

    &.Minigametitlebox {

        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;


        background: $accent;
        border: 2px solid #000000;
        box-shadow: $dropShadow;
        border-radius: 0px 0px 20px 0px;
        padding-bottom: 1em;

    }

    &.title {

        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 12em;
        line-height: 160px;
        text-align: center;
        padding-top: 0.1em;
        color: #FBF7F4;


    }

    &.pts {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: right;
        padding-right: 1em;
        color: #FBF7F4;


    }

    &.Minigamelabel {
        color: $textColor;
        text-align: center;
        font-size: 150%;
    }
}

/*

box-sizing: border-box;

position: absolute;
width: 184px;
height: 41px;
left: 98px;
top: 47px;

background: #53A57D;
border-width: 2px 2px 4px 2px;
border-style: solid;
border-color: #000000;
border-radius: 20px 0px 0px 0px;*/
