@import 'styles/theme';

.player-container {
    /* Player component */

    padding: 6px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    height: 35px;
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;
    opacity: 1;
    background-color: $accent;
    transition: all 0.3s ease;
    margin-top: 2em;

    width: 250px;
    height: 50px;
    left: auto;
    top: auto;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    border-radius: 20px 0px;

    box-sizing: border-box;

    left: 5.24%;
    right: 76.56%;
    top: 12.77%;
    bottom: 9.57%;
}

.player-name {
    margin-bottom: 10px;
    margin: 10px;
    margin-left: 10px;
    font-weight: bold;
    color: $accentPage;
}