@import 'styles/theme';

.timer {
  display: flex;
  padding: 6px;
  padding-left: 1em;
  font-weight: bold;
  text-transform: none;
  font-size: 13px;
  text-align: center;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  background-color: $accent;
  transition: all 0.3s ease;
  margin-top: 2em;
}
.timer-display {
  font-size: 50px;
  width: 15em;
  height: 1.5em;
  border-radius: $borderRadius;
  box-shadow: $dropShadow;
  flex-direction: row;
  align-content: center;
}