@import 'styles/theme';

.timer {
  display: flex;
  padding: 6px;
  padding-left: 1em;
  font-weight: bold;
  text-transform: none;
  text-align: center;
  align-self: center;
  border: none;
  border-radius: $borderRadius;
  opacity: 1;
  background-color: $accent;
  transition: all 0.3s ease;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 40%;
}
.timer-display {
  font-size: 50px;
  width: 10em;
  height: 1.5em;
  border-radius: $borderRadius;
  flex-direction: row;
  align-content: center;
}