

@keyframes rectAnim {
    0% { transform: scale(0.5, 0.5) rotate(0turn); }
    18% { transform: scale(1, 1)  rotate(0.5turn); }
    28% { transform: scale(0.5, 0.5)  rotate(0turn); }
    46% { transform: scale(1, 1)  rotate(0.5turn); }
    54% { transform: scale(0.5, 0.5)  rotate(0turn); }
    73% { transform: scale(1, 1)  rotate(0.5turn); }
    81% { transform: scale(0.5, 0.5)  rotate(0turn); }
    100% { transform: scale(1, 1)  rotate(0.5turn); }
  }

.rect{
    x: 15em;
    y: 15em;
    transform-origin: 50% ;
    width: 30em;
    height: 30em;
    fill: aqua;

    &.play{
        animation: rectAnim 2.2s;
    }
}

svg{
    width: 60em;
    height: 60em;

}